body {
    background: #34495e;
    color: #fff;
    display: flex;
    height: 100vh;
    padding: 0;
    margin:0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}